
/*-- Animation --*/

.carousel .item.active .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
    animation: bounceInLeft 1s ease-in-out 500ms both;
}

/*Animation
========================================================*/
.carousel .item.active .animated4 {
    -webkit-animation: flipInX 1s ease-in 500ms both;
    animation: flipInX 1s ease-in 500ms both;
}

.carousel .item.active .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated7 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8 {
    -webkit-animation: bounceInDown 1s ease-in 800ms both;
    animation: bounceInDown 1s ease-in 800ms both;
}

.overlay-slide{
    height: 850px;
    position: relative;
    width: 100%;
}
.overlay-slide:after{
    background: url("../../images/banner/overaly.png");
    position: absolute;
    content: "";
    z-index: 3;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.overlay-slide img{
    /*opacity:.6;*/
   /* width: 100%;
    height: auto;*/
    width: 100%;
    display: block;
}
.carousel-caption{
    top: 30%;
    margin-top: -50px;
    text-shadow:none!important;
    left:9%;
    right: 10%;
    -webkit-transition: all.3s ease 0s;
    -o-transition: all.3s ease 0s;
    transition: all.3s ease 0s;
    text-align: center;
}
.carousel-caption h3{
    text-shadow:none;
    font-size: 70px;
    line-height: 92px;
    font-weight: 300;
    margin: 20px 0px;
    transition-delay:.3s;
    -webkit-transition-delay:.3s;
    -o-transition-delay:.3s;
   text-transform: capitalize!important;
}
.carousel-caption p{
    font-size:46px;
    line-height: 62px;
    font-weight: 500;
    color: #fff;
    transition-delay:.3s;
    -moz-transition-delay:.3s;
    -o-transition-delay:.3s;
    margin: 40px 0px;
    text-transform: uppercase;
}
.carousel-caption img{
    border:2px solid#fff;
    padding:10px 10px 10px 20px;
}
.line{
   width: 100px;
    height: 5px;
    color: #222;
    margin: 0px auto;
}
.carousel-caption p i{
    font-size: 7px;
    margin: 0px 3px;
    position: relative;
    top: -3px;
}
.carousel .item {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.carousel-caption h2{
    color:#fff;
    border-top: 1px solid#fff;
    border-bottom: 1px solid#fff;
    width: 30%;
    margin: 0 auto;
    line-height: 85px;
    position: relative;
}
.carousel-caption h2:after{
    content: "";
    position: absolute;
    width: 2px;
    height: 110px;
    background: #EE3B24;
    left: 10px;
    top: -10px;

}
.carousel-caption h2:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 110px;
    background: #EE3B24;
    right: 10px;
    top: -10px;
}