@{
    ViewBag.Title = "Index";
}

<style>
    #containerBody {
        margin-left: 0;
        margin-right: 0;
        padding-left : 0;
        padding-right: 0;
    }
</style>


<link href="~/Content/extensions/bxslider/jquery.bxslider.css" rel="stylesheet"/>
<link href="~/Content/extensions/owl/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/extensions/owl/owl.theme.css" rel="stylesheet" />
<link href="~/Content/extensions/owl/custom.css" rel="stylesheet" />
<!-- Slider start -->
<section id="slider_part">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators text-center">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
           
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay-slide">
                    <img src="~/Content/images/banner/p4.png" class="img-responsive"/>
                </div>
                <div class="carousel-caption">
                    <div class="col-md-12 col-xs-12 text-center">
                        <h2>VisuAL</h2>
                        <h3 class="animated2"> @ResManager.GetResource("Slogan")  </h3>
                        <div class="line"></div>
                        @*<p class="animated3">Unique clean design</p>*@
                    </div>
                </div>
            </div>
            
        </div> 	 <!-- End Carousel Inner -->
        <!-- Controls -->
        <div class="slides-control ">
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
</section>
<!--/ Slider end -->

@section scripts{
    
    <script src="~/Content/extensions/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/extensions/wow/wow.min.js"></script>
    <script src="~/Content/extensions/owl/owl.carousel.min.js"></script>

    <script>
        $(function() {
            $('#slider_part').carousel({
                pause: true,
                interval: 100000,
            });
        })
    </script>
}