@{
    ViewBag.Title = "Home Page";
}

<h2>Cytoscape JS</h2>
<div id="cy">

</div>
<button type="button" onclick="refreshGraph();" style="width: 1000px; height: 50px; font-size: 20px; font-style: oblique; border-radius: 20px; margin-top:5px"><b>Generate Graph!</b></button>


<h1>Hello SyntaxHighlighter</h1>
<pre class="brush: csharp;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using System.Web.Routing;
namespace VisualAlgorithms
{
    public class RouteConfig
    {
        public static void RegisterRoutes(RouteCollection routes)
        {
            routes.IgnoreRoute("{resource}.axd/{*pathInfo}");
            routes.MapRoute(
                name: "Default",
                url: "{controller}/{action}/{id}",
                defaults: new { controller = "Home", action = "Index", id = UrlParameter.Optional }
            );
        }
    }
}
</pre>

<style>

#cy {
  height: 500px;
  width: 1000px;
  left: 0;
  top: 0;
  border : 2px solid #000;
  border-radius : 20px;
}
</style>
@section scripts{
    
    <script>

        function loadGraph() {
            $.get("/Home/GetRandomGraph", null, function (data) {

                var graph = JSON.parse(data);

                var cy = cytoscape({
                    container: $("#cy"),

                    zoomingEnabled: true,
                    userZoomingEnabled: false,
                    boxSelectionEnabled: false,
                    autounselectify: true,
                    center: true,
                    fit: true,

                    style: [
                      {
                          selector: 'node',
                          css: {
                              'content': 'data(id)',
                              'text-valign': 'center',
                              'text-halign': 'center'
                          }
                      },
                      {
                          selector: '$node > node',
                          css: {
                              'padding-top': '10px',
                              'padding-left': '10px',
                              'padding-bottom': '10px',
                              'padding-right': '10px',
                              'text-valign': 'top',
                              'text-halign': 'center',
                              'background-color': '#bbb'
                          }
                      },
                      {
                          selector: 'edge',
                          css: {
                              'target-arrow-shape': 'triangle'
                          }
                      },
                      {
                          selector: ':selected',
                          css: {
                              'background-color': 'black',
                              'line-color': 'black',
                              'target-arrow-color': 'black',
                              'source-arrow-color': 'black'
                          }
                      },
                        {
                            selector: '.highlighted',
                            css: {
                                'background-color': '#ee0000',
                                'line-color': '#000000',
                                'target-arrow-color': '#0000ee',
                                'transition-property': 'background-color, line-color, target-arrow-color',
                                'transition-duration': '0.3s'
                            }
                        }
                    ],

                    elements: graph,

                    layout: {
                        name: 'cose',
                        directed: true,
                        padding: 5
                    }
                });

                cy.center();

                var bfs = cy.elements().bfs({
                    roots: "#0",
                    directed: true
            });

                var i = 0;
                var highlightNextEle = function () {
                    if (i < bfs.path.length) {
                        bfs.path[i].addClass('highlighted');

                        i++;
                        setTimeout(highlightNextEle, 1000);
                    }
                };

                // kick off first highlight
                highlightNextEle();


            });
        }

        function refreshGraph() {
            loadGraph();
        };

        $(function () { // on dom ready
            loadGraph();
        });

            
    </script>
    
}