@{
    ViewBag.Title = "Home Page";
}

<i class="fa fa-envelope"></i>
<h1>CANVAS</h1>
<div>
    <canvas id="main-canvas" style="border:1px solid #111;" height="500" width="1000"></canvas>
</div>

<h2>Cytoscape JS</h2>
<div id="cy">

</div>
<button type="button" onclick="cy_refresh();">Refresh Cytoscape</button>


<h1>Hello SyntaxHighlighter</h1>
<pre class="brush: csharp;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using System.Web.Routing;
namespace VisualAlgorithms
{
    public class RouteConfig
    {
        public static void RegisterRoutes(RouteCollection routes)
        {
            routes.IgnoreRoute("{resource}.axd/{*pathInfo}");
            routes.MapRoute(
                name: "Default",
                url: "{controller}/{action}/{id}",
                defaults: new { controller = "Home", action = "Index", id = UrlParameter.Optional }
            );
        }
    }
}
</pre>


<script>
    
    var c = document.getElementById("main-canvas");
    
    //c.attr("width", "500px");
    //c.attr("height", "400px");
    var ctx = c.getContext("2d");
    ctx.imageSmoothingEnabled = false;
    ctx.beginPath();
    ctx.arc(95, 50, 10, 0, 2 * Math.PI);
    ctx.stroke();

    
</script>

<style>

#cy {
  height: 500px;
  width: 1000px;
  left: 0;
  top: 0;
  border : 2px solid #000;
  border-radius : 20px;
}
</style>
@section scripts{
    
    <script>

        function cy_refresh() {
            console.log("Button pressed");

            var cy = cytoscape({ container: $("#cy") });
            cy.load();
        }

        $(function () { // on dom ready


            console.log("Start");
            $.get("/Home/GetRandomGraph", null, function (data) {

                var graph = JSON.parse(data);

                var cy = cytoscape({
                    container: $("#cy"),

                    zoomingEnabled: false,
                    boxSelectionEnabled: false,
                    autounselectify: true,
                    center: true,

                    style: [
                      {
                          selector: 'node',
                          css: {
                              'content': 'data(id)',
                              'text-valign': 'center',
                              'text-halign': 'center'
                          }
                      },
                      {
                          selector: '$node > node',
                          css: {
                              'padding-top': '10px',
                              'padding-left': '10px',
                              'padding-bottom': '10px',
                              'padding-right': '10px',
                              'text-valign': 'top',
                              'text-halign': 'center',
                              'background-color': '#bbb'
                          }
                      },
                      {
                          selector: 'edge',
                          css: {
                              'target-arrow-shape': 'triangle'
                          }
                      },
                      {
                          selector: ':selected',
                          css: {
                              'background-color': 'black',
                              'line-color': 'black',
                              'target-arrow-color': 'black',
                              'source-arrow-color': 'black'
                          }
                      }
                    ],

                    elements: graph,

                    layout: {
                        name: 'preset',
                        padding: 5
                    }
                });

                cy.center();
                cy.startZoom = 100;

            });
    });

            
    </script>
    
}