@{
    ViewBag.Title = "Index";
}

<h2>Cytoscape JS</h2>
<div class="button-group">
    <a class="btn btn-info btn-lg" href="@Url.Action("DFS", "Home")">DFS</a>
    <a class="btn btn-info btn-lg" href="@Url.Action("BFS", "Home")">BFS</a>
</div>

<h1>Hello SyntaxHighlighter</h1>
<pre class="brush: c-sharp; ruler: true; highlight: [2, 4, 6]">
public class BreathFirstSearch<T>
    {
        private Graph<T> graph;
        private bool[] visited;
        public List<Tuple<int, int>> edgeList = new List<Tuple<int,int>>();

        public BreathFirstSearch(Graph<T> graph)
        {
            this.graph = graph;
            this.visited = new bool[graph.CountNodes()];
        }
        public List<string> doBFS(int start)
        {
            Queue<int> queue = new Queue<int>(graph.CountNodes());
            Queue<string> queueEdge = new Queue<string>(graph.CountNodes());



            List<string> res = new List<string>();
            queue.Enqueue(start);
            visited[start] = true;
            while (queue.Any())
            {
                var v = queue.Dequeue();


                var neigbours = graph.GetNode(v).EdgeList;
                if(queueEdge.Any())
                res.Add(queueEdge.Dequeue());
                res.Add(graph.GetNode(v).Id.ToString());



                Debug.Write("->" + graph.GetNode(v).Data);

                foreach (var neigbour in neigbours)
                {
                    if (!visited[neigbour.DestinationId])
                    {
                        visited[neigbour.DestinationId] = true;

                        queueEdge.Enqueue(v.ToString() + neigbour.DestinationId);
                        edgeList.Add(new Tuple<int, int>(v, neigbour.DestinationId));
                        queue.Enqueue(neigbour.DestinationId);
                    }
                }
            }
            return res;

        }
    }
</pre>

<style>
    #cy {
        height: 500px;
        width: 1000px;
        left: 0;
        top: 0;
        border: 2px solid #000;
        border-radius: 20px;
    }
</style>
@section scripts{

   

}