@{
    ViewBag.Title = "Home Page";
}

<h1>CANVAS</h1>
<div>
    <canvas id="main-canvas" style="border:1px solid #111; width:100%" height="500"></canvas>
</div>


<div id="footer">
    Footer
</div>

<script>
    
    var c = document.getElementById("main-canvas");
    
    //c.attr("width", "500px");
    //c.attr("height", "400px");
    var ctx = c.getContext("2d");
    ctx.imageSmoothingEnabled = false;
    ctx.beginPath();
    ctx.arc(95, 50, 10, 0, 2 * Math.PI);
    ctx.stroke();
</script>